@import 'tailwindcss';

.merriweather-body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  @apply m-0;
  font-family:
    "Playfair Display", serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family:
    "Playfair Display", serif;
  font-size: 1.2rem;
}


body {
  @apply m-0;
  font-family:
    "Merriweather", serif;
      background-color: #ffffff;
  background-image: 
    linear-gradient(rgba(200, 200, 200, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200, 200, 200, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}